{% include 'modems/includes/header.html' %}

<body>
  {% block content %}
  <div class="wrapper">
    {% include 'modems/navbar1.html' %}

    <main class="content">
      <div class="container-fluid p-0">
        <h1 class="h3 mb-3">SWAP ligne</h1>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">Vérifier la possibité SWAP</h5>
              </div>
              <div class="card-body">
                {% if messages %}
                  <div class="messages">
                    {% for message in messages %}
                      {% if message.tags == 'success' %}
                        <p class="text-success">{{ message }}</p>
                      {% else %}
                        <p class="text-danger">{{ message }}</p>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="nom_group" value="{{ request.user.groups.first.name }}">
                  <p>{{ form.num }}</p>
                  <p><button type="submit" class="btn btn-sm btn-info" name="verifier_form_submit">affecter modem</button></p>
                </form>
</div>
    </div>
                {% if numacces_list %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Informations sur le SWAP</h5>
        </div>
        <div class="card-body">
            <p>Le swap pour le numéro {{ num }} est valide.</p>
                {% for numacces_obj in numacces_list %}
                    <p>Région: {{ numacces_obj.region }}</p>
                {% endfor %}

                <form method="post">
                 <input type="hidden" name="nom_agent" value="{{ request.user.username }}">
                  <input type="hidden" name="num" value="{{ num }}">
                  {% csrf_token %}
                  <p>{{ form.serialNumber }}</p>
                  <p><button type="submit" class="btn btn-sm btn-info" name="serial_number_form_submit">Affecter</button></p>
                </form>
        </div>
    </div>
{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container-fluid">
        <div class="row text-muted">
          <div class="col-6 text-start">
            <p class="mb-0">
              <strong>TOPNET</strong> - &copy;
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  {% endblock %}
</body>

{% load static %}

<!-- Include jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
$(document).ready(function() {
  $('#id_num').select2();
});
</script>
<script>
$(document).ready(function() {
  $('#id_serialNumber').select2();
});
</script>

{% include 'modems/includes/footer.html' %}
