
{% load static%}


<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" href="#">    <img src="{% static '/images/topnet.png' %}"  class="d-inline-block align-top" alt="" loading="lazy"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'affectationModem' %}">Affectation Modems</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'alimentationModem' %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Alimentation Modems
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'alimentationModem' %}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ajouter Paramétres VoIP
        </a>
      </li>
    </ul>

    
  </div>
        <span class="navbar-text" style="align='right'">
    Bonjour 
    {% for group in request.user.groups.all %}
        {{ group.name }} &nbsp;
    {% endfor %}
    {{ request.user.username }} &nbsp;|
</span>

        <a href="{% url 'logout' %}">Se déconnecter</a>
      
       </span>
</nav>

